<div class="">
    <div class="relative border border-gray-300 rounded-md px-3 py-0.5 shadow-sm">
        <label for="name" class="absolute bg-white -top-2 left-2 -mt-px inline-block px-1 bg-beeBackground text-xs font-medium text-appBlack">@Label</label>
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-appGrayLight">
                @IconLeft
            </svg>            
        </div>

        @ModelFragment

    </div>
    @ErrorValidationRF
</div>






@code {
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public RenderFragment? IconLeft { get; set; }
    [Parameter]
    public RenderFragment? ModelFragment { get; set; }
    [Parameter]
    public RenderFragment? ErrorValidationRF { get; set; }

}
